@model IEnumerable<LundSeating.Models.EventGuest>
@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet"  href="//cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css" />
<script scr="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" ></script>
<script scr ="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<h2>Event Guests</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="newtable">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Event)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Guest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sponsor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Event.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Guest.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sponsor.EventSponsorID)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.EventGuestID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.EventGuestID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.EventGuestID">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#newTable').DataTable();
    });
</script>
